{
    "admins": ["gempir"],
    "logsDirectory": "./logs",
    "adminAPIKey": "noshot",
    "username": "gempbot",
    "oauth": "oauthtokenforchat",
    "server": "irc.chat.twitch.tv:6697",
    "botVerified": true,
    "clientID": "mytwitchclientid",
    "clientSecret": "mysecret",
    "logLevel": "info",
    "channels": ["77829817", "11148817"],
    "archive": true
}
